
$red:#F56C6C;
$yellow:#E6A23C;
$green: #67C23A;
$blue:#409EFF;
$tiffany: #909399;

$light-blue:#3A71A8;
$pink: #E65D6E;
$panGreen: #30B08F;
//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
